protobuf==3.20.1
streamlit
streamlit-antd-components
ffmpeg
plotly
st-annotated-text
streamlit-searchbox
soundfile
langchain-community
langchain
gigachain
gigachat
gdown
fuzzywuzzy
torch==2.3.1
torchvision
scipy
comet-ml
numpy
pandas
tqdm
openai-whisper==20231117
whisper_timestamped==1.15.4
transformers==4.45.2
scikit-learn
soundfile
fastapi
python-multipart
uvicorn
pyarrow
fastparquet
bentoml
pydub
dagster
dagster-webserver
dagster-postgres
dagster-aws
dagit
dagster-docker
